.screen {
  width: 232px;
  height: 52px;

  background: #f3f4f6;
  border-radius: 6px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  .screen_content {
    font-weight: 800;

    padding-right: 8px;
  }

  .screen_bigNums {
    font-size: 36px;
    line-height: 44px;
  }

  .screen_smallNums {
    font-size: 19px;
    line-height: 23px;
  }
}
