@import "../../../mixins.scss";

.numbers_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;

  .zeroButton {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .activeButtons {
    cursor: pointer;

    &:hover {
      border: 2px solid #5d5fef;
    }
  }
}
