@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  outline: none;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-style: normal;
}

main {
  margin: 38px auto;
  width: 534px;
  height: 512px;

  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-end;
}

button {
  border: none;
}
